{% extends 'master.html' %}
{% block contenido %}

<div class="container">
    <h4>Lista de Usuarios:</h4>
    <table class="table table-sm" style="width: 100px;">
        <tr style="border-style: solid;border-width: 1px;">
            <th style="width: 10px;border-style: solid;border-width: 1px;">Numero:</th>
            <th style="border-style: solid;border-width: 1px;">algo</th>
        </tr>

    </table>

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>{{usuario_id}}</td>
                <td>{{boleto.usuario.nombres}}</td>
                <td>{{boleto.usuario.apellidos}}</td>
                <td>{{boleto.usuario.correo}}</td>
                
            </tr>

        </tbody>
    </table>
    {% endblock %}
</div>