{% extends 'master.html' %}
{% block contenido %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Documento</title>
    <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        {% if documento %}
            {% if documento.visible %}
            <h1>Último Documento Subido</h1>
            {% if documento.tipo == 'pdf' %}
            <iframe src="{{ documento.archivo.url }}" width="100%" height="500px"></iframe>
            {% elif documento.tipo == 'word' %}
            <div class="word-preview">
                <a href="{{ documento.archivo.url }}">Descargar el documento</a>
            </div>
            {% else %}
            <p>No se puede mostrar una previsualización del documento.</p>
            {% endif %}
            <div style="text-align: center">
                <a style="margin-left: 10px;background-color: rgb(54, 54, 207); height: 50px;" class="btn btn-primary"
                    href="{% url 'detectar' gestion.gestion_id %}" role="button">Iniciar analisis</a>
            </div>
            {% else %}
            <h1>Documento no disponible</h1>
            <p>No se puede mostrar una previsualización del documento.</p>
            {% endif %}
        {% else %}
        <p>No hay documentos disponibles</p>
            
        {% endif %}
    </div>

</body>

</html>
{% endblock %}